/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/

/* isac test variabel test*/
$color-pink:#ffffff;

/* margin på varje text */
h1 {
  font-size: 19px;
  font-weight: bold;
	font-family:$primary-font;
  margin:5px 0px;
}

h2 {
  font-size: 14px;
  font-weight:500;
  font-family: $secondary-font;
  margin:5px 0px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  font-family: $secondary-font;
  margin:5px 0px;
}

h4 {
  font-size: 25px;
  font-weight: 400;
  font-family: $primary-font;
  margin:5px 0px;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 1%;
  box-sizing: border-box;
	font-family:$primary-font;
	font-size:13pt;
	color:black;
}

#content {
  width: 80%;
  margin: 0 auto;

  @media (max-width : 870px) {
    width: 100%;
  }
}

/* Contact us */

.hero {
  width:100%;

  .bild {
    width:100%;
    height:400px;
    object-fit: cover;
  }
}

.get-in-touch{
  width:100%;
  &--box {
    @extend .get-in-touch;
    display: grid;
    place-items:center;
  }

  &--heading{
    @extend .get-in-touch;
    width:80%;
    display: flex;
    flex-direction: column;
    padding:40px;
  }

  &--columns{
    @extend .get-in-touch;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:40px 0px;
    width:80%;
    border-bottom: 1px solid #CCCCCC;

    .col1,.col2,.col3{
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .linksbox{
      display:flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap:15px;
      transition: transform .3s ease-out;

      a:hover{
        transform: scale(120%);
      }
    }
  }

}

/* meet the team */
#combine-container  {
  width:100%;
  height:auto;
  display:grid;
  place-items:center;
  align-items: baseline;

  p {
    font-family:$primary-font;
    font-size: 1rem;
  }
}

.meet-the-team-heading {
  width:80%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.view-all-btn {
  font-family: $primary-font;
  padding:5px 20px;
  border-radius: 15px;
  font-weight: bold;
  transition: background-color .3s ease-in;
}

.view-all-btn:hover {
  font-weight: bold;
  color:white;
  background-color:#2a5db0;
  border-color: #2a5db0;
}

.container {
  height: auto;
  width:80%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}

.container-2{
  height: auto;
  width:80%;
  display: none;
  flex-wrap: wrap;
  padding: 5px;
  margin: 50px;
  justify-content: center;
}

.container > section {
  margin:10px;
  width:100%;
  padding: 40px 0px;
}

#our-story-text {
    border-bottom: 1px solid #CCCCCC;
    p {
      font-family: $secondary-font;
      font-weight: 400;
    }
}

.container-2 > section {
  margin:10px;
}

.show {
  display:flex;
}

.aligned {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 50px;
  }

/*------FOOTER-----*/
.imgtxt {
  flex: 1 1 14%;
  text-align: left;
}

.imgtxt img {
  display: block;
  padding-bottom:10px;
}

/*------FOOTER-----*/
footer {
	width:100%;
	display: grid;
	place-items:center;
	align-items: baseline;
}

#footer-div {
    border-top: 1px solid #CCCCCC;
    width:80%;
    display: flex;
    justify-content: space-between;
}

.footer {
	width: 100%;
	display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
  align-items: flex-end;


	&--list{
		@extend .footer;
	width:auto;
	}

	&--nav{
		@extend .footer;
	width:auto;
	}

	&--adress{
		@extend .footer;
		width:auto;
	}

	&--end {
	@extend .footer;
	display: flex;
	width:auto;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 10px 0px 20px 10px;

	}
}

.footer > div {
	margin:6px;
	padding: 10px;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

/* MEDIA QUERY */

@media screen and (max-width : 1024px) {

	/*All Devices*/

	html.touch *:hover {
    	pointer-events: none !important;
	}

	html, body {
		width:100% !important;
		margin:0px !important;
		overflow-x:hidden !important;
		-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	}

	body {
		margin: 0 0 20px;
		height:auto;
		min-height:100%;
	}
}


@media only screen and (max-width: 500px){

  .col1, .col2, .col3 {
    padding:10px 0px;
  }

  .linksbox {
    padding:10px 0px;
  }

  .container {
    display:flex;
    flex-direction: column;
    align-content: center;
  }

  .container-2 {
    flex-direction: column;
    align-content: center;
  }

  .imgtext {
    display:flex;
    flex-direction: column;
    height:auto;
  }

  .imgtext img {
    width:100%;
  }

}
